<div class="log">
	<div
		class="line"
		[ngClass]="{
			'incomming': command.incomming
		}"
		*ngFor="#command of commands">
		<div class="record">
			{{command.text}}
		</div>
		<div class="actions">
			<a
				*ngIf="!command.incomming"
				(click)="resendCommand($event, command)"
				class="resend">
				resend
			</a>
			<a
				*ngIf="!command.incomming"
				(click)="editLine($event, command)"
				class="edit">
				edit
			</a>
		</div>
	</div>
</div>
<form
	class="command-form"
	(submit)="submitCommand($event)"
	[ngFormModel]="commandPrompt"
	>
	<label
		class="command-label"
		>
		<span class="command-prompt">
			&gt;&nbsp;
		</span>
		<input
			#command
			(input)="command"
			(keydown)="onKeyDown($event, command)"
			[(ngModel)]="currentCommandString"
			class="command-input"
			ngControl="command"
			placeholder=""
			type="text"
		/>
	</label>
</form>
